* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #F7FAFD;
  color: #263238;
}

a {
  color: inherit;
  text-decoration: none;
}


/* NAVBAR */

nav {
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  gap: 40px;

  padding: 20px;

  background: #FFFFFF;
  border-bottom: 1px solid #C9DDEC;
}

nav a {
  font-weight: bold;
}

nav a:hover {
  color: #5B7FA3;
}

/* HOME */

#home {
  min-height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 80px 20px;
  text-align: center;
}

.home-content {
  max-width: 750px;
}

#contato {
  background: #EAF4FC;
}
.contact-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.contact-links a {
  padding: 8px 14px;

  border: 1px solid #38bdf8;
  border-radius: 20px;

  color: #38bdf8;
  font-weight: bold;
}

.contact-links a:hover {
  background: #A7C7E7;
  color: #263238;
}

.subtitle {
  color: #38bdf8;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

h1 {
  font-size: 64px;
  margin-bottom: 25px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  line-height: 1.7;
  margin-bottom: 15px;
}

/* BOTÃO */

.button {
  display: inline-block;

  margin-top: 20px;
  padding: 12px 24px;

  background: #A7C7E7;
  color: #263238;

  border-radius: 8px;
  font-weight: bold;
}

.button:hover {
  background: #8FB9DC;
}

/* SEÇÕES */

section {
  padding: 100px 20px;
}

.section-content {
  max-width: 1000px;
  margin: auto;
}

/* SOBRE */

#sobre {
  background: #EAF4FC;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.skills span {
  padding: 8px 14px;

  border: 1px solid #38bdf8;
  border-radius: 20px;

  color: #38bdf8;
}

/* PORTFÓLIO */

#portfolio {
  background: #F7FAFD;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* CARD */

.project-card {
  overflow: hidden;

  background: #FFFFFF;
  border: 1px solid #C9DDEC;
  border-radius: 12px;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.project-info {
  padding: 25px;
}

.project-discipline {
  color: #38bdf8;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.project-info strong {
  color: #263238;
}

/* CELULAR */

@media (max-width: 700px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  nav {
    gap: 15px;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}